/* Common */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20) !important;
    color: #fff !important;
}

/* Header */
#header {
    width: 100%;
    height: 110px;
    background-color: rgb(20, 20, 20);
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    * {
        padding: 0 !important;
    }

    img {
        width: 100px;
        margin-top: -30px;
    }

    form {

        label {
            height: 30px;
        }

        input {
            height: 30px;
        }

        button {
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px !important;
        }
    }
}

/* Main */
#main {
    width: 100%;
    min-height: 70vh;
    flex: 1 0 auto;
    background-color: rgb(20, 20, 20);
    color: #fff;

    .card {
        height: 500px;
        overflow: auto;
        scrollbar-width: none;
        background-color: rgb(20, 20, 20);
        color: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover>.card-body {
            display: block;
        }

        .card-body {
            background-color: rgba(20, 20, 20, 0.888);
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        i {
            color: rgb(226, 226, 33);
        }
    }
}

/* Footer */
#footer {
    width: 100%;
    margin-top: auto;
    background-color: rgb(20, 20, 20);
    color: #fff;
}