/* Common */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20) !important;
    color: #fff !important;
}

/* Header */
#header {
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    img {
        width: 100px;
    }
}

/* Main */
#main {
    width: 100%;
    min-height: 70vh;
    flex: 1 0 auto;
    background-color: rgb(20, 20, 20);
    color: #fff;

    .card {
        height: 500px;
        overflow: auto;
        scrollbar-width: none;
        background-color: rgb(20, 20, 20);
        color: #fff;

        .card-body {
            background-color: rgba(20, 20, 20, 0.888);
            background-size: cover;
        }

        i {
            color: rgb(226, 226, 33);
        }
    }
}

/* Footer */
#footer {
    width: 100%;
    margin-top: auto;
    background-color: rgb(20, 20, 20);
    color: #fff;
}