/* Common */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
#header {
    width: 100%;

    img {
        width: 100px;
    }
}

/* Main */
#main {
    width: 100%;
    min-height: 70vh;
    flex: 1 0 auto;

    .card {
        height: 500px;
        overflow: auto;
        scrollbar-width: none; 
    }
}

/* Footer */
#footer {
    width: 100%;
    margin-top: auto;
}